h1{
    text-align: center;
}

.mainholder{
    display: flex;
    justify-content: space-evenly;
}

.userbox,
.compbox{
    text-align: center;
}

.result{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#user-pic-box{
    display: flex;
}

.opaque{
    opacity: 0.2;
}